.g-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 16px;
    background-color: #fff;
}

.g-header>div {
    margin: 0 20px;
}

.g-banner {
    height: 250px;
    background: url(../../res/images/banner_list.png) no-repeat;
    background-size:  100%;
}
@media screen and (max-width: 1024px) {
    .g-banner {
        background-size: auto;
    }
}

.g-body {
    width: 750px;
    margin: 0 auto;
}

.g-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 216px;
    background-color: #fff;
    margin-top: -75px;
    box-shadow: 6px 6px 6px #b3b3b4;
}

.g-main {
    position: relative;
    height: 600px;
}

.g-wrap {
    position: relative;
    min-height: 215px;
    padding: 30px;
    border-top: 1px solid #e2e3e3;
    box-shadow: 6px 6px 6px #b3b3b4;
    background-color: #fff;
}

/* logo */
.logo {
    display: table;
    height: 90px;
}

.logo span {
    display: table-cell;
    vertical-align: middle;
    cursor: default;
}

/* 侧栏菜单 */
.m-aside {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 276px;
    border-radius: 5px 0 0 5px;
    background-color: #fdfdfd;
}

.m-aside>ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.m-aside .side_menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5ed0ba;
    cursor: pointer;
}

.m-aside .side_menu:hover {
    color: #666;
    background-color: #5ecc99;
}

.m-aside .side_menu.z-active {
    color: #fff;
    background-color: #5ed0ba;
}

/* 作者信息 */
img.my-avatar {
    display: block;
    width: 100px;
    height: 110px;
    margin-top: 27px;
}

.u-info {
    display: flex;
    position: relative;
    margin-top: 12px;
}

.u-info .address-info {
    flex: 1;
    display: flex;
}

.u-info .u-icon-female,
.u-info .u-icon-male {
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: 10px;
}

.u-info .u-icon-address {
    width: 16px;
    height: 16px;
}

.u-info.u-info-1 {
    color: #727171;
    font-size: 12px;
}

.u-info.u-info-1 em {
    margin-right: 5px;
}

/* 作品列表头部 */
.g-wrap .works_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.g-wrap .works_title>span {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .5em;
}

.g-wrap .works_title>a {
    height: 37px;
}

/* 作品列表 */
.m-works {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: -20px;
    margin-left: 3px;
}

.m-works .item {
    position: relative;
    width: 110px;
    height: 166px;
    margin-right: 25px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #d3d4d4;
    background-color: #fff;
}

.m-works .item a {
    display: block;
    width: 110px;
    height: 166px;
}

.m-works .item a:before {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: -4px;
    left: -4px;
    border: 1px solid #d7d7d7;
    content: "";
}

.m-works .item h3 {
    position: absolute;
    right: 6px;
    bottom: -6px;
    left: -6px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
}

.m-works .item img {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: -7px;
    left: -7px;
    width: 110px;
    height: 166px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    border-top: none;
    border-right: none;
}

/* 编辑和删除图标 */
.m-works .item .icons {
    position: absolute;
    top: 5px;
    right: -8px;
    width: 50px;
    padding: 0px;
    opacity: 0;
}

.m-works .item:hover .icons {
    opacity: 1;
    cursor: pointer;
}

.m-works .item .icons>.u-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
}

/* 编辑输入框 */
#delete_ipt {
    position: relative;
    top: -20px;
    left: 0px;
    height: 37px;
    width: 100%;
    line-height: 37px;
    margin-top: 50px;
    padding-left: 15px;
    border: 1px solid #7ad7c4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: left;
    box-sizing: border-box;
}

/* 分页器 */
.m-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    height: 20px;
    margin-top: 55px;
}

.m-pagination li {
    padding: 0 14px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
    color: #5eccb6;
}

.m-pagination .disabled {
    cursor: not-allowed;
    color: #ccc;
}

.m-pagination .active {
    background: url(../../res/icon/pagination-active.png) no-repeat 50% 50%;
    color: #fff;
}